@model IEnumerable<Zoboo.Entity.Test>

@{
    ViewData["Title"] = "Baslangic";
}

<h1>Baslangic</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SonQuizTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogruSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YanlisSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasariOrani)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SonQuizTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogruSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YanlisSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zaman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasariOrani)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
