@model Zoboo.Entity.Soru

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Soru</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Konu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Konu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoruResimYolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoruResimYolu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoruMetni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoruMetni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDogruMu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDogruMu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SoruId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
