@model IEnumerable<Zoboo.Entity.Soru>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Konu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoruResimYolu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoruMetni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cevap.Cevap1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cevap.Cevap2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cevap.Cevap3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cevap.Cevap4)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Konu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoruResimYolu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoruMetni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cevap.Cevap1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cevap.Cevap2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cevap.Cevap3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cevap.Cevap4)
            </td>
        </tr>
}
    </tbody>
</table>
