@model IEnumerable<Zoboo.Entity.Soru>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Konu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoruResimYolu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoruMetni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDogruMu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Konu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoruResimYolu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoruMetni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDogruMu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SoruId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SoruId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SoruId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
